{% extends "base.html" %}
{% load static %}

{% block title %}My Account{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">

<div class="auth-wrapper">
    <div class="form-header">
        <h1>Account details</h1>
        <p>Manage your account</p>
    </div>
        <div class="auth-form">
        <form method="post" action="{% url 'accounts:update_profile' %}" class="js-account-details-form">
            {% csrf_token %}

            <div class="account-label-row">
                <label for="{{ profile_form.username.id_for_label }}" class="username">Username</label>
            </div>
            <p>
                {{ profile_form.username }}
            </p>
            {% if profile_form.username.errors %}
                <div class="form-error">{{ profile_form.username.errors }}</div>
            {% endif %}

            <div class="account-label-row">
                <label for="{{ profile_form.email.id_for_label }}">Email</label>
            </div>
            <p class="account-field-row">
                {{ profile_form.email }}
            </p>
            {% if profile_form.email.errors %}
                <div class="form-error">{{ profile_form.email.errors }}</div>
            {% endif %}

            <button type="button" class="btn-primary btn-secondary js-inline-edit-toggle">
                Change account details
            </button>
        </form>
        <hr class="detail-divider">
        <div class="account-label-row">
            <label class="username">Password</label>
        </div>
                <p>
                    <input
                        type="password"
                        value="notrealpassword"
                        class="cellar-name"
                        disabled
                        readonly
                    >
                </p>

            <a href="{% url 'accounts:change_password' %}" class="btn-primary btn-secondary">Change password</a>
        </div>
    </div>
{% endblock %}
