/* --- MAIN NAV --- */

.site-header {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    min-height: 80px;
    display: flex;
    align-items: center;
}

.brand {
    color: var(--primary-color);
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    margin-left: 20px;
}

.header-primary-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-primary-nav a {
    color: #55606A;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease;
}

.header-primary-nav a:hover,
.header-primary-nav .nav-item.active a {
    color: var(--primary-link-dark);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    text-underline-offset: 40%;
}

.header-primary-nav a.active {
    font-weight: 600;
}

.header-secondary-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.lang-select {
    display: flex;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 0.5rem;
    padding-left: 0.5rem ;
}

.header-secondary-nav a, .lang-select a {
    color: var(--primary-link-dark);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    transition: color 0.3s ease;
}

.lang-select a {
    color: var(--secondary-color);
}


.header-secondary-nav a:hover,
.header-secondary-nav .nav-item.active,
.lang-select a.active {
    color: var(--primary-link-dark);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    text-underline-offset: 40%;
}

.header-secondary-nav .nav-item.active {
    font-weight: 600;
}