/* --- MAIN NAV --- */

.site-header {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    min-height: 80px;
    display: flex;
    align-items: center;
}

.brand {
    color: var(--primary-color);
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.header-primary-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-primary-nav a {
    color: #55606A;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease;
}

.header-primary-nav a:hover,
.header-primary-nav .nav-item.active a {
    color: var(--primary-link-dark);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    text-underline-offset: 40%;
}

.header-primary-nav a.active {
    font-weight: 600;
}

.header-secondary-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-secondary-nav a {
    color: var(--primary-link-dark);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    transition: color 0.3s ease;
}

.header-secondary-nav a:hover,
.header-secondary-nav .nav-item.active {
    color: var(--primary-link-dark);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    text-underline-offset: 40%;
}

.header-secondary-nav .nav-item.active {
    font-weight: 600;
}

.hidden-desktop { 
    display: none; 
}

.nav-right-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.mobile-menu-btn i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .hidden-desktop { 
        display: block; 
    }

    .hidden-mobile { 
        display: none; 
    }
    
    button.hidden-desktop, a.hidden-desktop { 
        display: inline-flex; 
    }

    .site-header { 
        position: relative; 
    }

    .site-header nav { 
        padding: 0 24px; 
        justify-content: space-between; 
        position: relative;
    }
    
    .mobile-menu-btn { 
        background: none; 
        border: none; 
        cursor: pointer; 
        font-size: 24px; 
        color: var(--primary-color); 
        padding: 0;
    }
    
    .mobile-user-icon { 
        font-size: 24px; 
        color: var(--primary-color); 
        align-items: center; 
        justify-content: center;
    }

    #mobile-menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
        z-index: 1000;
        display: none !important;
        flex-direction: column;
        padding-bottom: 24px;
    }
    
    #mobile-menu.is-open {
        display: flex !important;
    }

    .mobile-auth-drawer-group {
        padding: 24px;
        border-bottom: 1px solid #55606a50;
    }

    .mobile-auth-toggle-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: var(--primary-text-dark);
        cursor: pointer;
        padding: 0;
    }

    .mobile-auth-drawer-content {
        display: none;
        margin-top: 16px;
    }

    .btn-mobile-auth {
        display: block; width: 100%;
        background-color: var(--primary-color);
        color: #ffffff;
        text-align: center;
        padding: 16px 0;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }

    .btn-mobile-auth-outline {
        background-color: #ffffff;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        margin-bottom: 16px;
    }

    .mobile-menu-links { 
        list-style: none; 
        padding: 0 20px; 
        margin: 0; 
    }

    .mobile-menu-links li { 
        border-bottom: 1px solid #55606a50;
    }
    
    .mobile-menu-links a {
        display: block;
        padding: 16px 0;
        font-size: 16px;
        font-weight: 700;
        color: var(--primary-text-dark);
        text-decoration: none;
        text-transform: uppercase;
    }
}