{% extends "base.html" %}

{% block title %}Cellaret | Catalog{% endblock %}

{% block content %}

    {% include 'components/controls_bar.html' with search_placeholder="Search products..." %}

    <section class="products-section">
        <div class="product-grid">
            {% for product in products %}
            <article class="product-card">
                <a href="#" class="card-link">
                        <div class="card-image">
                        <img src="{{ product.image_url }}"
                            alt="{{ product.name }}">
                    </div>
                    <div class="card-content">
                        <p class="card-product-details">{{ product.category }} <i class="fa-solid fa-circle"></i> {{ product.country }} <i class="fa-solid fa-circle"></i> {{ product.size_display }}</p>
                        <h3 class="card-title">{{ product.name }}</h3>
                        {% if product.taste_tag %}
                            <p class="card-taste-tag">{{ product.taste_tag }}</p>
                        {% endif %}
                        <footer class="card-footer">
                            <span class="card-price">{{ product.price }} $</span>
                            <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                        </footer>
                    </div>
                </a>
            </article>
            {% empty %}
            <div class="no-results-container">
                <p class="no-results">No matching products found.</p>
            </div>
            {% endfor %}
        </div>
    </section>

    {% if page_obj.paginator.count > 0 %}
        {% include 'components/pagination.html' %}
    {% endif %}

{% endblock %}