<!DOCTYPE html>
{% load tailwind_cli %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>{% block title %}Cellaret{% endblock %}</title>
    {% tailwind_css %}
</head>

<body>
    <header class="site-header">
        <nav class="container mx-auto flex justify-between w-full">

            <a id="logo" href="{% url 'products:catalog' %}" class="brand">Cellaret</a>

            <ul class="header-primary-nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'catalog' %}active{% endif %}">
                    <a href="{% url 'products:catalog' %}">
                        <span>Catalog</span>
                    </a>
                </li>
                <li class="nav-item" {% if request.resolver_match.url_name == 'cellars' %}active{% endif %}>
                    <a href="{% url 'cellars:cellars' %}">
                        <span>Cellar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="#">
                        <span>Sommelier</span>
                    </a>
                </li>
            </ul>

            <ul class="header-secondary-nav">
                {% if user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'detail' %}active{% endif %}">
                    <a href="{% url 'accounts:detail' %}" class="greeting">Hello, {{ username }}</a>!
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}" class="auth-btn">Log out</a>
                </li>
                {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'signup' %}active{% endif %}">
                    <a href="{% url 'accounts:signup' %}?next={{ request.get_full_path|urlencode }}">Sign up</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                    <a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">Log in</a>
                </li>
                {% endif %}
                <div class="lang-select">
                    <a href="#" class="active">EN</a>
                    |
                    <a href="#">FR</a>
                </div>
            </ul>

        </nav>
    </header>
    <main class="mx-auto">
        {% block banner %}{% endblock %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="site-footer">
        <div class="container mx-auto text-center">
            <p>&copy; {% now "Y" %} Cellaret. All rights reserved.</p>
        </div>
    </footer>
</body>